body {
  /* background-image: url(../logo/rocket.png); */
  background: #ffefba; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-size: cover; */
}
.main_content {
  border: 0.5px solid rgb(233, 177, 177);
  width: 95%;
  height: 800px;
  /* margin: auto; */
  margin-top: 30px;
  margin-left: 100px;
}
.create-icon,
.trash-icon {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}
.notes {
  margin: 20px;
}
.notes-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
