.note {
  width: 220px;
  height: 220px;
  margin: 10px;
  padding: 20px;
  border-radius: 6px;
  background: linear-gradient(0deg, #cbf0f8, #cbf0f8), #ffe8a5;
  box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}
.logo_trash {
  width: 20px;
  height: 20px;
}

/* .button-blue {
  display: inline-block;
  margin-right: 10px;
  background: #339dff;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 38px;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 170px;
  text-align: center;
}

.button-blue:hover {
  background: #fff;
  color: #339dff;
  box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
} */

.textarea {
  width: 100%;
  height: 150px;
  resize: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-style: none;
  border-radius: 5px;
  color: #5cdae8;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
  background: linear-gradient(0deg, #cbf0f8, #cbf0f8), #ffe8a5;
}

.textarea:focus {
  background: none repeat scroll 0 0 #545f9b;
  background: linear-gradient(0deg, #cbf0f8, #b2e9f5), #ffe8a5;
  outline-width: 0;
}
